# Flutter
flutter/.dart_tool/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/build/
flutter/.packages
flutter/pubspec.lock

# SwiftPM
ios-swiftui/.build/
ios-swiftui/.swiftpm/

# macOS / Xcode
.DS_Store
**/xcuserdata/
